.scrollmenu {
    white-space: nowrap;
    overflow: auto;
}
.vertical-menu {
    width: 900px;
    height: 900px;
    overflow-y: auto;
}
.vertical-menu a{
   color: #333;
}
body {
    background-color: #ebebeb;
    font-size: 16px;
  }
  .nav1 {
    width: 500px;
  }

  .nav2 {
    position: relative;
    margin: 50px;
    width: 80%;
  }
  .nav2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav2 ul li ins {
    display: block;
    background: #db9292;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .nav2 ul ul {
    background-color:#ffffff;
  }
  .nav2 ul li ul li ins {
    border-left: 4px solid transparent;
    padding: 10px 20px;
  }
/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }

  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }

  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
  .btn2 {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }

  /* Darker background on mouse-over */
  .btn2:hover {
    background-color: RoyalBlue;
  }

.footer {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 0.9em;
    margin: 0 auto;
    padding: 20px 0 0;
    text-align: center;
    color: white;
    background-color: #4c6586;
    height: 60px;
}
.span
{
    background-color: #ffff9d;
}
.left{
    margin-left: 22px;
    font-size: 19px;
}

.small{
    font-size: 19px;
}

ul, #myUL {
    list-style-type: none;
  }

  #myUL {
    margin: 0;
    padding: 0;
  }

  .caret1 {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    font-size: 19px;
  }

  .caret1::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }

  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
  }

  .nested {
    display: none;
  }

  .tree {
    display: block;
  }
